* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
}

.navbar {
  background: #4b2e39;
  color: #f9f9f9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.logo {
  font-size: 1.3rem;
  font-weight: bold;
}

.logo span {
  color:#f4cae0;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 40px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}
.nav-links li a:hover {
  color: #f4cae0; /* soft pink */
}
.nav-links li a:hover::after {
  width: 100%;
}


section {
  min-height: 100vh;
  padding: 160px 40px 40px;
}
html {
  scroll-behavior: smooth;
}
#scrollTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #f4cae0;
  color: #4b2e39;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  display: none; /* hidden by default */
}

#scrollTopBtn:hover {
  background: #e6bcd1;
}
.navbar.scrolled {
  background: #341d27;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
.about-section {
  max-width: 1000px;
  margin: 0 auto;
  padding: 100px 20px 60px; /* space for navbar + breathing room */
  opacity: 1;
  transform: none;
  transition: none;
}

.about-section h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  color: #4b2e39;
  text-align: center;
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  justify-content: center;
}

.about-photo {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  border: 3px solid #f4cae0;
}

.about-text {
  flex: 1 1 300px;
  max-width: 600px;
  font-size: 1.1rem;
  line-height: 1.6;
  color: #333;
}
